.form-horizontal{
    height: 100%;
    overflow:hidden;
  .box{
    margin:200px auto;
    width:400px;
    background:#EFF4FD;
    border:1px solid #ccc;
    h1{
        text-align:center;
        font-size:30px;
        border-bottom:1px solid #ccc;
        margin-bottom:20px;
    }
    form{
        padding:10px 60px;
        .sa{
            padding:0 5px;
            margin-bottom:20px;
            width: 180px;
            height: 20px;
            border:1px solid #ccc;
            vertical-align:baseline;
            margin-left:20px;
        }
        
        #btnLogin{
            margin:20px 50px 10px;
        }
        .btn{
            vertical-align:baseline;
            padding:5px 10px;
        }
      }
  }
  
}