html,body{
    height:100%;
    margin:0;
    padding:0;
}

ul,li{list-style:none;}

#header{
    display:flex;
    h2{
        width:100%;
        text-align:center;
    }
}

#tab{
    width:100%;
    display:flex;
    flex-direction:column;
    thead{
        tr{
            width:100%;
            th{
                width:4.3%;
                height:50px;
                border-bottom:1px solid #f43499;
            }
        }
    }
    tbody{
        tr{
            display:flex;   
            width:100%;
            td{
                width:24.3%;
                height:30px;
                line-height:30px;
                text-align:center;
                overflow: hidden;
                text-overflow:ellipsis;
                white-space: nowrap;
                border-bottom:1px solid #58bc58;
            }
        }
    }
}

.ul{
    padding:0;
    margin:0;
    display:flex;
    .ul-li{
        width:50%;
        line-height:50px;
        text-align:center;
        .num,.total{
            font-size:24px;
            color:orange;
        }
    }
}

#order{
    width:80px;
    height:40px;
    background-color:#58bc58;
    color:#fff;
    border:none;
    margin-left:30px;
}
