@charset "UTF-8";
/*css ³õÊ¼»¯ */
html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img { margin:0; padding:0; }
fieldset, img,input,button { border:0 none; padding:0;margin:0;outline-style:none; }   /*È¥µôinputµÈ¾Û½¹Ê±µÄÀ¶É«±ß¿ò*/
ul, ol { list-style:none; }
input { padding-top:0; padding-bottom:0; font-family: "SimSun","ËÎÌå";}
select, input { vertical-align:middle;}
select, input, textarea { font-size:12px; margin:0; }
textarea { resize:none; } /*·ÀÖ¹ÍÏ¶¯*/
img {border:0; vertical-align:middle; }  /*  È¥µôÍ¼Æ¬µÍ²âÄ¬ÈÏµÄ3ÏñËØ¿Õ°×·ìÏ¶£¬»òÕßÓÃdisplay£ºblockÒ²¿ÉÒÔ*/
table { border-collapse:collapse; }
body {
    /*font:12px/150% Arial,Verdana,"\5b8b\4f53";*/
    color:#666;
    background:#fff;
     }
.clearfix:after{
    content:"";
    display:block;
    height:0;
    clear:both;
    overflow: hidden;
    visibility: hidden;
    zoom:1;
}
a{color:#666; text-decoration:none;}
a:hover{color:#C81623;}
h1,h2,h3,h4,h5,h6 {text-decoration:none;font-weight:normal;font-size:100%;}  /*ÉèÖÃh±êÇ©µÄ´óÐ¡£¬ÉèÖÃ¸ú¸¸Ç×Ò»Ñù´óµÄ×ÖÌåfont-size:100%;*/
s,i,em{font-style:normal;text-decoration:none;}
.col-red{color: #C81623!important;}

/*×ÖÌåÍ¼±ê*/

@font-face {font-family: "iconfont";
  src: url('../font/iconfont.eot?t=1510541020873'); /* IE9*/
  src: url('../font/iconfont.eot?t=1510541020873#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('../font/iconfont.ttf?t=1510541020873') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../font/iconfont.svg?t=1510541020873#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-zuoyoujiantou:before { content: "\f0001"; }

.icon-yousanjiao:before { content: "\f0028"; }

.icon-sousuo:before { content: "\e6c3"; }

.icon-mama:before { content: "\e602"; }

.icon-qianbao:before { content: "\e620"; }

.icon-tongchetongchuang:before { content: "\e63f"; }

.icon-laba:before { content: "\e6be"; }

.icon-yanzhengicon:before { content: "\e604"; }

.icon-dengpao:before { content: "\e631"; }

.icon-cart:before { content: "\e643"; }

.icon-fushi:before { content: "\e73b"; }

.icon-kefu:before { content: "\e8a5"; }

.icon-wo:before { content: "\e65e"; }

.icon-juxing67kaobei:before { content: "\e62d"; }

.icon-zhiniaoku:before { content: "\e645"; }

.icon-xin:before { content: "\e63b"; }

.icon-bianji-:before { content: "\e603"; }

.icon-putongnaiping:before { content: "\e63c"; }

.icon-diqiu:before { content: "\e60b"; }

.icon-shouji:before { content: "\e607"; }

.icon-shangjiantou:before { content: "\e605"; }

.icon-wanju:before { content: "\e501"; }

.icon-shangxiajiantou:before { content: "\e502"; }

.icon-xinfeng:before { content: "\e627"; }

.icon-phone:before { content: "\e511"; }

.icon-bianjigerenziliao:before { content: "\e634"; }

.icon-chuang:before { content: "\e606"; }

.icon-zuoyoujiantou1:before { content: "\e505"; }

.icon-huidaodingbu:before { content: "\e61a"; }

.icon-shoucang:before { content: "\e635"; }

.icon-qiyepinpaizizhi:before { content: "\e6cb"; }

.icon-arrLeft-fill:before { content: "\e506"; }

.icon-yazi:before { content: "\e503"; }

.icon-arrLeft-fill1:before { content: "\e689"; }

.icon-naizui-:before { content: "\e608"; }

.icon-women:before { content: "\e64f"; }

.icon-car-back:before { content: "\e60e"; }

.icon-gouwuche:before { content: "\e504"; }


/*¹«¹²Àà*/
.container{  /*°æÐÄ ÌáÈ¡ */
    width: 1090px;margin:0 auto;
}
.fl {
    float:left;
}
.fr {
    float:right;
}
.al {
    text-align:left;
}
.ac {
    text-align:center;
}
.ar {
    text-align:right;
}
.hide {
    display:none;
}
.font12{ font-size: 12px;}
.font14{ font-size: 14px;}
.font16{ font-size: 16px;}

/*¹«¹²²¿·Ö*/
/*Í·²¿µ¼º½¿ªÊ¼*/
#header{
  background-color: #E9E9E9;
}

 .h_top {
  font-size: 14px;
  height: 42px;
  border-bottom: 1px solid #D7D6D7;
}

 .h_top ul:nth-child(1) {
  float: left;
  margin-top: 5px;
  height: 38px;
}

 .h_top ul:nth-child(1) li {
  float: left;
  height: 38px;
}
 .h_top ul:nth-child(1) li:nth-child(3) i{
  font-size:22px;
  float:left;
  padding: 0;
  margin: 0;
}
 .h_top ul:nth-child(1) li{
  font-weight: bold;
  color: #666666;
  display: block;
  padding:0px 20px;
  border-right: 1px solid #E7E7E7;
  line-height: 38px;
}

 .h_top ul:nth-child(1) li :hover {
  color: #FF5C00;
}
 .h_top ul:nth-child(1) li:nth-child(3){
  width:96px;
  padding: 0;
  margin:0 20px;
}
 .h_top ul:nth-child(1) li:nth-child(3) p{
  position: relative;
  z-index: 100;
  width: 115px;
  display:inline;
  height: 38px;
}

 .h_top ul:nth-child(1) li:nth-child(3) img {
  z-index: 2;
  position: relative;
  top: 0px;
  left: -1px;
  display: none;
  border: 1px solid #ff9900;
}

 .h_top ul:nth-child(1) li:nth-child(3):hover {
  border: 1px solid #ff9900;
  border-bottom-color: #fff;
}

 .h_top ul:nth-child(1) li:nth-child(3):hover .phonePit {
  display: block;
}

 .h_top ul:nth-child(1) .active {
  border: 1px solid #CCCCCC;
  border-bottom: none;
  border-radius: 2px;
  background-color: #FFFFFF;
  color: #FF5C00;
}

 .h_top ul:nth-child(2) {
  float: right;
}

 .h_top ul:nth-child(2) p {
  display: inline;
  float: left;
  line-height: 40px;
}

 .h_top ul:nth-child(2) li {
  float: left;
}

 .h_top ul:nth-child(2) li span {
  padding: 0px 5px;
  border-right: 1px solid #ccc;
  line-height: 40px;
}

 .h_top ul:nth-child(2) li .active {
  color: #FF5C00;
}

 .h_top ul:nth-child(2) li :hover {
  color: #FF5C00;
}

 .h_top ul:nth-child(2) li:first-child span {
  border-right: none;
}

 .h_top ul:nth-child(2) li:last-child span {
  border-right: none;
}

 .logo {
  margin-top: 1px;
  border-top: 1px solid #F7F5F7;
  height: 125px;
}
.logo_pit{
    float: left;
}
.logo_pit a{
  display:block;
  margin: 32px 0px;
}

.logo_pit a img {
  display: block;
  width: 150px;
  height: 55px;
  background: url("../img/logo.png");
}

 .logo ul {
  height: 100px;
  float: left;
  width: 320px;
  margin-left: 87px;
  margin-top: 25px;
}

 .logo ul li {
  float: left;
  padding: 0 17px;
}

 .logo ul li img {
  margin-left: 16px;
  display: block;
  width: 43px;
  height: 42px;
}

 .logo ul :nth-child(1) img {
  background: url("../img/all.png") 0px 0px no-repeat;
}

 .logo ul :nth-child(2) img {
  background: url("../img/all.png") -60px 0px no-repeat;
}

 .logo ul :nth-child(3) img {
  background: url("../img/all.png") -120px 0px no-repeat;
}

 .logo .search {
  float: right;
  margin-top: 30px;
}

.s_top {
  width: 492px;
}

.s_top input {
  float: left;
  height: 36px;
  width: 423px;
  padding-left:5px;
  border: 2px solid #FF5C00;
}
.s_top button i{
  color:#FBFAFB;
  font-size:22px;
}
.s_top button {
  float: right;
  width: 60px;
  height: 40px;
  background-color: #FF5C00;
}

 .logo .search .s_bot {
  color: #999999;
  margin-top: 7px;
}

#header .logo .search .s_bot span {
  font-size: 12px;
  padding-right: 10px;
}

#header .logo .search .s_bot :hover {
  color: #FF5C00;
}

#header .logo .search .s_bot .active {
  color: #FF5C00;
}

/*nav*/
#nav {
  border-top:1px solid #CCCCCC;
  border-bottom:1px solid #CCCCCC;
  z-index: 99;
  height: 35px;
  font-size: 14px;
  line-height: 35px;
}

#nav .active {
  color: #FF5C00;
}

#nav .slider {
  position: relative;
  z-index: 100;
  float: left;
  text-align: center;
  width: 140px;
  box-sizing: border-box;
}

#nav .slider h4 {
  font-weight:bold;
  width: 100%;
  color: #FF5C00;
}

#nav .slider h4 > i {
  position: absolute;
  right: 10px;
  top: 0px;
}
/*二级导航*/
#nav .slider .list {
  z-index: 100;
  background-color: #fff;
  position: absolute;
  top: 35px;
  left: 0px;
  display: none;
  width: 140px;
}

#nav .slider .list > li {
  height: 35px;
  width: 139px;
  padding: 0;
  border: 1px solid #fff;
}

#nav .slider .list > li .l_p {
  padding-left: 10px;
  position: relative;
  z-index: 88;
  height: 35px;
  font-size: 12px;
  line-height: 36px;
  color: #666666;
  width: 140px;
}

#nav .slider .list > li .l_p i:nth-of-type(1) {
  position: absolute;
  left: 0px;
  top: 0;
  color: #FF5C00;
  padding: 0px 10px;
  font-size: 22px;
}

#nav .slider .list > li .l_p i:nth-of-type(2) {
  color: #FF5C00;
  padding: 0px 10px;
  color: #666666;
}
/*三级导航*/
#nav .slider .list > li .goods {
  z-index: 88;
  display: none;
  border: 1px solid #FF5C00;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 140px;
  width: 940px;
  height: 404px;
  padding-left: 10px;
}

#nav .slider .list > li .goods .g_l {
  font-size: 12px;
  text-align: left;
  width: 695px;
  float: left;
}

#nav .slider .list > li .goods .g_l li {
  padding-top: 10px;
  height: 46px;
  width: 678px;
}

#nav .slider .list > li .goods .g_l li p {
  line-height: 22px;
  color: #666666;
  font-weight: bold;
  border-bottom: 1px dotted #E4E4E4;
}

#nav .slider .list > li .goods .g_l li span {
  border-right: 1px solid #E4E4E4;
  color: #888888;
  margin-top: 10px;
  padding: 0 5px;
}

#nav .slider .list > li .goods .g_l li :last-child {
  border-right: 0;
}

#nav .slider .list > li .goods .g_r {
  border-left: 1px dotted #E4E4E4;
  margin-left: 30px;
  float: right;
  width: 210px;
  height: 100%;
}

#nav .slider .list > li .goods .g_r .g_brands {
  display: flex;
  flex-wrap: wrap;
}

#nav .slider .list > li .goods .g_r .g_brands li {
  height: 55px;
  padding: 0;
  flex: 50%;
}

#nav .slider .list > li .goods .g_brands li img {
  margin: 10px auto;
  display:block;
  height: 55px;;
  background:url('../img/1.jpg') no-repeat;
}
#nav .slider .list > li .goods .g_brands li:nth-child(2) img {
  background:url('../img/2.jpg') no-repeat;
}
#nav .slider .list > li .goods .g_brands li:nth-child(3) img {
  background:url('../img/3.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_brands li:nth-child(4) img {
  background:url('../img/4.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_brands li:nth-child(5) img {
  background:url('../img/5.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_brands li:nth-child(6) img {
  background:url('../img/6.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_brands li:nth-child(7) img {
  background:url('../img/7.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_brands li:nth-child(8) img {
  background:url('../img/8.jpg') no-repeat;
}

#nav .slider .list > li .goods .g_r .g_brands_bot {
  display: block;
  width: 210px;
  height: 180px;
  background:url('../img/nav1.jpg') no-repeat;
}

#nav .slider .list > li:nth-child(2):hover .goods {
  top: -35 px;
}

#nav .slider .list > li:nth-child(3):hover .goods {
  top: -70 px;
}

#nav .slider .list > li:nth-child(4):hover .goods {
  top: -105 px;
}

#nav .slider .list > li:nth-child(5):hover .goods {
  top: -140 px;
}

#nav .slider .list > li:nth-child(6):hover .goods {
  top: -175 px;
}

#nav .slider .list > li:nth-child(7):hover .goods {
  top: -210 px;
}

#nav .slider .list > li:nth-child(8):hover .goods {
  top: -245 px;
}

#nav .slider .list > li:nth-child(9):hover .goods {
  top: -280 px;
}

#nav .slider .list li:hover {
  color: #FF5C00;
  border-color: #FF5C00;
  border-right: #fff;
}

#nav .slider .list li:hover .goods {
  z-index: 88;
  display: block;
}

#nav :hover .list {
  z-index: 100;
  display: block;
}

#nav .n_r, #nav .n_r li {
  float: left;
  z-index: 100;
}

#nav .n_r li {
  padding: 0 20px;
  height: 35px;
}

#nav .n_r li:nth-child(3) {
  padding: 0 20px;
  position: relative;
  padding: 0;
}

#nav .n_r li:nth-child(3) span {
  height: 33px;
  border: 1px solid #fff;
  display: block;
  padding: 0 20px;
}

#nav .n_r li:nth-child(3) span:hover {
  border-color: #FF5C00;
  border-bottom-color: #FFF;
  border-top: #fff;
}

#nav .n_r li:nth-child(3) p {
  display: none;
  background-color: #fff;
  border: 1px solid #FF5C00;
  border-top: #fff;
  position: absolute;
  top: 34px;
  left: 0px;
  width: 96px;
  text-align: center;
}

#nav .n_r li:nth-child(3) span:hover+p{
  display: block;
}

#nav .nav-line {
  width: 100%;
  height: 26px;
  position: relative;
  z-index: 10;
  background: url("../img/nav_bottom_bg.png") -180px 0px repeat-x;
}


/*右侧边栏*/
#aside {
  width: 38px;
  z-index: 200;
  height: 100%;
  background-color: #fff;
  box-shadow: -3px 0 17px rgba(0,0,0,0.15);
  position: fixed;
  top: 0px;
  right: 0px;
}

#aside .car {
  text-align: center;
  padding: 0 10px;
}

#aside > div {
  width: 38px;
}

#aside > div i {
  display: block;
  margin: 0 7px;
  font-size: 24px;
  text-align: center;
}

#aside div:nth-child(1) {
  margin-top: 100px;
  padding-bottom: 70px;
}

#aside div:nth-child(1) i {
  padding: 10px 0px;
}

#aside div:nth-child(2) i {
  padding: 10px 0px;
  border-top: 1px solid #EBEBEB;
}

#aside div:nth-child(2) P {
  /*height: 93px;*/
  margin-bottom: 10px;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 3px;
  margin: 0px 7px;
}

#aside div:nth-child(2) P span {
  color: #FF5C00;
}

#aside div:nth-child(3) ul li {
  padding: 10px 0px;
  margin-top: 10px;
}

#aside div:nth-child(3) ul li p {
  margin: 0 7px;
}

#aside .div3>ul>li:nth-child(3) {
  color: #fff;
  background-color: #FF5C00;
}

#aside div .shoppingCar {
  box-shadow: -7px 1px 10px rgba(31, 31, 31, 0.21);
  color: #444;
  display: none;
  /*z-index: 1002;*/
  width: 282px;
  min-height: 690px;
  position:absolute;
  top: 0px;
  right: 60px;
  background-color: #fff;
  padding: 0 10px;
}

#aside div .shoppingCar > p {
  font-size: 18px;
  padding: 14px 0px;
  height: 18px;
  position:relative;
    
}
#aside .close{
     position:absolute;
     top:8px;
     right:0px;
     display:block;
     padding:10px;
    }
#aside .close:hover{
  background-color:#FF5C00;
  color:#fff;
}
#aside div .shoppingCar .car_goods li{
  position:relative;
  border-bottom:1px solid #DEDEDE;
}
#aside div .shoppingCar .car_goods li img{
    width: 50px;;
    height: 50px;
    float:left;
}
#aside div .shoppingCar .car_goods li p{
  border-bottom:0;
  /*float:right;*/
  width: 224px;

}
#aside div .shoppingCar .car_goods li .btn-close{
  position:absolute;
  top:0px;
  right:0px;
  display:block;
  padding:5px;
}
#aside div .shoppingCar .car_goods li .btn-close:hover{
  background-color:#FF5C00;
  color:#fff;
}
#aside div .shoppingCar .car_bot {
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  height: 55px;
  border-top: 1px solid #EBEBEB;
}

#aside div .shoppingCar .car_bot p {
  float: left;
  margin-top: 16px;
}

#aside div .shoppingCar .car_bot button {
  margin: 10px 5px;
  float: right;
  height: 38px;
  width: 100px;
  background-color: #FF5C00;
}

#aside div .shoppingCar .car_bot button a {
  color: #fff;
  display: block;
  height: 38px;
  width: 100px;
  line-height: 38px;
}

#aside div:nth-child(4) {
  position: absolute;
  right: 0;
  top: 88%;
}

#aside div:nth-child(4) i {
  padding: 10px 0px;
  font-size: 32px;
  margin: 0 4px;
}

/*Î²²¿²¿µ¼º½¿ªÊ¼*/
#footer .f_top {
  background-color: #FF5C00;
  height: 106px;
  display: flex;
}

#footer .f_top li {
  color: #fff;
  flex: 1;
  padding-left: 45px;
}

#footer .f_top li dt {
  padding-left: 42px;
  font-size: 26px;
  font-weight: bold;
  padding-top: 37px;
}
#footer .f_top li dt i{
    font-size: 28px;
}
#footer .f_top li dd {
  font-size: 14px;
  padding-top: 8px;
  padding-left: 110px;
}

#footer .f_center {
  padding-top: 25px;
  font-size: 12px;
  line-height: 26px;
}

#footer .f_center li {
  padding-left: 75px;
  float: left;
  position:relative;

}
#footer .f_center li i{
  position:absolute;
  left:46px;
  top:0px;
  font-size:28px;
  color:#EBEBEB;

}
#footer .f_center li dt {
  color: #000;
  padding-right: 40px;
}

#footer .f_center li dd:hover {
  color: #FF5C00;
}

#footer .f_center :last-child {
  width: 110px;
  padding-left: 0;
}

#footer .f_center :last-child img {
  display: block;
  height: 110px;
  width: 110px;
  background: url("../img/all.png") 0px -50px no-repeat;
}

#footer .f_center :last-child p {
  padding-left: 28px;
  background: url("../img/all.png") -220px 6px no-repeat;
}

.f_bottom {
  height: 159px;
  background-color: #E9E9E9;
  padding-top: 15px;
}

.f_bottom p {
  text-align: center;
  font-size: 12px;
  line-height: 22px;
}

.f_bottom :first-child span {
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.f_bottom :first-child :last-child {
  border-right: 0;
}

.f_bottom :first-child :hover {
  color: #FF5C00;
}

.f_bottom .box {
  height: 37px;
  width: 100px;
  margin: auto;
  margin-top: 10px;
}

.f_bottom .box img {
  display: block;
  width: 100px;
  height: 37px;
  background: url("../img/all.png") -160px -50px no-repeat;
}

.f_bottom .bot {
  padding-top: 10px;
  width: 323px;
  margin: auto;
  display: flex;
  height: 26px;
}

.f_bottom .bot p {
  margin-right: 10px;
}

.f_bottom .bot i {
  margin: 0;
  display: block;
  width: 18px;
  height: 20px;
  background: url("../img/all.png") -125px -50px no-repeat;
}

